@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

.slide-in-from-bottom {
  animation: slide-in-from-bottom 0.7s cubic-bezier(0.46, 0.05, 0.51, 0.9);
}

.slide-out-to-top {
  animation: slide-out-to-top 0.7s cubic-bezier(0.46, 0.05, 0.51, 0.9);
}

.slide-in-from-top {
  animation: slide-in-from-top 0.7s cubic-bezier(0.46, 0.05, 0.51, 0.9);
}

.slide-out-to-bottom {
  animation: slide-out-to-bottom 0.7s cubic-bezier(0.46, 0.05, 0.51, 0.9);
}

#slider-round {
  height: 10px;
}

#slider-round .noUi-connect {
  background: #3f89af;
}

#slider-round .noUi-target {
  box-shadow: none;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
  box-shadow: none;
}

#slider-round .noUi-handle:before,
#slider-round .noUi-handle:after {
  display: none;
}
